<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ve-logo></ve-logo>  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid>
    <ion-row>
      <ion-col style="padding-bottom: 48px;">
        <app-card-product (removingProduct)="productRemoved($event)" *ngFor="let product of products" [product]="product"></app-card-product>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/create-product']">
      <ion-icon name="add" ></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>