<ion-header>
  <ion-toolbar>
    <ion-buttons>
        <ion-button routerLink="/">
            <ion-icon name="chevron-back-outline"></ion-icon>Inicio
        </ion-button>
    </ion-buttons>
    <ion-title size="small" text-center> <h3>Políticas de cookies</h3> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="container cookies">
      <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-12" id="tituloCondiciones">
              <p>Las presentes Condiciones Generales de Uso (en adelante, las "Condiciones") describen los términos aplicables a los servicios y contenidos ofrecidos a través de la página web, de la que es titular la sociedad VENTAJA EUROPA, S.A, (en adelante, "VE" ó "Ventaja Europa S.A.").</p>
          </div>
          <div class="col-sm-12" id="condicionesGenerales1">
              <h2 class="section-title">Cómo usamos las cookies</h2>
              <p>Las cookies sirven para mejorar los servicios que te ofrecemos. Algunas son estrictamente necesarias para que la página funcione bien y otras sirven para mejorar el rendimiento y tu experiencia como usuario.</p>    
                  <ul>
                      <li><strong>Cookies analíticas:</strong> Recogen información del uso que se realiza del sitio web.</li>
                      <li><strong>Cookies sociales:</strong> Son necesarias para las redes sociales externas (Facebook, Twitter Linkedin).</li>
                      <li><strong>Cookies técnicas y funcionales:</strong> Son las estrictamente necesarias para el uso del sitio Web y para la prestación del servicio contratado.</li>
                  </ul>
            
              <h2 class="section-title">De forma más específica en esta página encontraremos:</h2>

              <ul>
                  <li>
                      <p><strong>Cookies Propias</strong></p>
                  </li>
                  <ul>
                      <li><strong>PHPSESSID </strong>Se trata de una cookie propia. Es imprescindible para proporcionar al usuario los servicios que solicite de la página. Es una cookie meramente técnica que no almacena información personal del usuario para su posterior tratamiento.</li>
                      <li><strong>cookies_allowed </strong>Esta cookie sirve únicamente para avisar con su presencia de que el usuario ha aceptado el uso de cookies para nuestra página. Se trata de una cookie técnica y no guarda ningún tipo de información privada.</li>
                  </ul>
              </ul>
              <ul>
                  <li><p><strong>Cookies de terceros</strong></p></li>
                  <ul>
                      <li><strong>Google analytics ( _ga ) </strong>Se trata de una cookie de terceros (Google Analytics: <a href="http://www.google.com/policies/privacy/">http://www.google.com/policies/privacy/</a>) Habilitan la función de control de visitas únicas. La primera vez que el usuario acepte el uso de cookies por parte de nuestra página a través de un navegador se instalará esta cookie. Cuando este usuario vuelva a entrar en nuestra página con el mismo navegador, la cookie considerará que es el mismo usuario. Solo en el caso de que el usuario cambie de navegador, Google Analytics lo considerará otro usuario. Se incluye en cada petición de página para poder calcular datos de la visita del usuario de cara crear informes estadísticos.</li>
                      <li><strong>Google Remarketing ( _utmccn) </strong>La función de remarketing o de audiencias similares de AdWords le permite llegar a las personas que hayan visitado su sitio web anteriormente y asociar una audiencia determinada a un mensaje concreto. Para conseguirlo, las páginas de nuestro sitio web incluyen un código o etiqueta de remarketing que configuran las cookies para determinar el tipo de anuncio que se mostrará al usuario según la navegación que haya realizado por el sitio web. Las cookies pueden guardar la configuración de las personas de determinados sitios web y, a veces, se pueden utilizar para realizar un seguimiento de cómo los visitantes llegan e interactúan con los sitios web. Más información <a href="http://www.google.es/intl/es/policies/technologies/ads/">aquí</a></li>
                      <li><strong>DoubleClick </strong>Esta web utiliza cookies de DoubleClick para mejorar la publicidad. Suelen utilizarse para orientar la publicidad según el contenido que es relevante para un usuario, mejorar los informes de rendimiento de la campaña y evitar mostrar anuncios que el usuario ya haya visto.DoubleClick envía una cookie al navegador después de cualquier impresión, clic u otra actividad cuyo resultado sea una llamada al servidor de DoubleClick. Si el navegador acepta la cookie, esta se almacena en él. Para inhabilitar el suo de cookies de DoubleClik acceda&nbsp;<a href="https://www.google.com/settings/u/0/ads/authenticated?hl=es">aquí</a></li>
                      <li><strong>Google seguimiento de conversiones </strong>Con el objetivo de realizar un seguimiento de las ventas y de otras conversiones de los anuncios, google adwords añade una cookie al ordenador de una persona cuando esta hace clic en un anuncio. Esta cookie dura 30 días y no recopila ni realiza un seguimiento de información que pueda identificar al usuario. La cookie de seguimiento de conversiones de Google se puede inhabilitar en la configuración de usuario del navegador de Internet. Más información&nbsp;<a href="http://www.google.es/intl/es/policies/technologies/ads/">aquí</a></li>
                      <li><strong>Crazy Egg ( is_returning ) </strong>Se trata de una cookie de terceros (<a href="http://www.crazyegg.com">http://www.crazyegg.com</a>) y consiste en un único dato que indica si el usuario ha visitado esta misma página en los últimos 5 años o no. Esta página emplea Crazy Egg (<a href="http://www.crazyegg.com">http://www.crazyegg.com</a>) para obtener datos estadísticos. Estos datos no son obtenidos de forma individualizada sino en forma de informes sobre la navegación de varios usuarios. Crazy egg no está diseñado para recoger información personal del usuario o enlazar en modo alguno la información obtenida con el usuario específico del que se obtuvo. Si desea más información sobre la política de privacidad de crazy egg y la forma en la que recopila y maneja la información puede visitar&nbsp;<a href="http://www.crazyegg.com/privacy">http://www.crazyegg.com/privacy</a></li>
                      <li><strong>Addthis ( __atuvc, di2, dt, loc, uid, uit )&nbsp;</strong>Se trata de cookies de terceros (<a href="http://www.addthis.com/">http://www.addthis.com/</a>) y habilitan el contenido para ser compartido. Recopila información sobre cómo y desde dónde se comparte el contenido de la página. Esta página emplea Addthis (<a href="http://www.crazyegg.com">http://www.crazyegg.com</a>) para compartir en redes sociales. Si desea más información sobre la política de privacidad de Addthis y la forma en la que recopila y maneja la información puede visitar: <a href="http://www.addthis.com/privacy/">http://www.addthis.com/privacy/</a></li>
                      <li><strong>Youtube ( GEUP, PREF, VISITOR_INFO1_LIFE, YSC ) </strong>Se trata de cookies de terceros (http://www.google.com/policies/privacy/) para utilizar las preferencias escogidas por el usuario en su configuración. También se encargan de mostrar una publicidad que se adecúa a los intereses del usuario. Esta página emplea Youtube (<a href="http://www.google.com/policies/privacy/">http://www.google.com/policies/privacy/</a>) para integrar vídeos en la web. Si desea más información sobre la política de privacidad de Youtube y la forma en la que recopila y maneja la información puede visitar&nbsp;<a href="http://www.google.com/policies/privacy/">http://www.google.com/policies/privacy/</a></li>
                  </ul>
              </ul>
          </div>
          <div class="col-sm-12">          
              <h2 class="section-title">Como borrar cookies de terceros</h2>
              <p>Si se desea, es posible inhabilitar el uso de cookies de un proveedor tercero a través de la página de inhabilitación de Network Advertising Initiative o través de su navegador:</p>
              <ul>
                  <li><a href="https://support.google.com/chrome/answer/95582">Google Chrome</a></li>
                  <li><a href="https://support.mozilla.org/en-US/products/firefox/privacy-and-security/cookies">Firefox</a></li>
                  <li><a href="http://support.apple.com/kb/PH17191?viewlocale=en_US&amp;locale=en_US">Safari</a></li>
                  <li><a href="http://windows.microsoft.com/es-es/internet-explorer/delete-manage-cookies#ie=ie-11">Explorer</a></li>
                  <li><a href="http://help.opera.com/Windows/11.50/es-ES/cookies.html">Opera</a></li>
              </ul>
              
              <h2 class="section-title">Ejemplos de uso</h2>
              <p>Las cookies sirven para mejorar algunos servicios, por ejemplo:</p> 
                  <ul>
                      <li>Habilitan la funcionalidad de ciertos servicios, como los de pago, que no funcionarían sin esas cookies.</li>
                      <li>Habilitan un servicio que reconoce tu dispositivo para que no tengas que introducir la misma información varias veces durante la misma tarea.</li>
                      <li>Calculan cuántas personas utilizan los servicios; así pueden modificarse para que resulten más sencillos de usar y garantizar que hay capacidad suficiente para que sean rápidos.</li>
                      <li>Analizan los datos para ayudarnos a entender cómo utilizas los servicios en línea a fin de mejorarlos.</li>
                      <li>Si no habilitas las cookies, algunas funciones y páginas no funcionarán bien. Por ejemplo, no podrás utilizar la función de la lista de la compra.</li>
                      <li>Si quieres borrar las cookies que tienes en el ordenador, haz clic en "Ayuda" del menú del navegador para ver las instrucciones.</li>
                  </ul>
              <p>También encontrarás más información sobre las cookies y cómo gestionarlas en <a href="http://www.aboutcookies.org" target="_blank">http://www.aboutcookies.org</a> (inglés) o en el menú "Ayuda" del navegador.</p> 
          </div>
      </div> 
  </div>

</ion-content>
