<div class="ps-footer__widgets">
  <aside class="widget widget_footer widget_contact-us">
      <h4 class="widget-title">Contactanos</h4>
      <div class="widget_content">
          <p>Llamanos 24/7</p>
          <h3>902 51 21 21</h3>
          <p>
            Camí Fondo s/n <br>
            07007 Palma de Mallorca  <br />
              <a href="mailto:contact@martfury.co">atencion.seguros@ventajon.com</a>
          </p>
          <ul class="ps-list--social">
              <li>
                  <a class="facebook" href="#">
                      <i class="fa fa-facebook"></i>
                  </a>
              </li>
              <li>
                  <a class="twitter" href="#">
                      <i class="fa fa-twitter"></i>
                  </a>
              </li>
              <li>
                  <a class="google-plus" href="#">
                      <i class="fa fa-google-plus"></i>
                  </a>
              </li>
              <li>
                  <a class="instagram" href="#">
                      <i class="fa fa-instagram"></i>
                  </a>
              </li>
          </ul>
      </div>
  </aside>
  <aside class="widget widget_footer">
      <h4 class="widget-title">Enlaces Rápidos</h4>
      <ul class="ps-list--link">
          <li>
              
                  <a routerLink="/cookies-policies" routerLinkActive="active">Políticas de Cookies</a>
              
          </li>

          <li>
              
                  <a routerLink="/conditions-web-use" routerLinkActive="active">Condiciones generales de uso web</a>
              
          </li>
          <li>
              
                  <a routerLink="/general-contracting-conditions" routerLinkActive="active">Condiciones generales de contratación</a>
              
          </li>
          <li>
              
                  <a>Envios</a>
              
          </li>
          <li>
              
                  <a>Return</a>
              
          </li>
          <li>
              
                  <a>FAQs</a>
            
          </li>
      </ul>
  </aside>
  <aside class="widget widget_footer">
      <h4 class="widget-title">Compañia</h4>
      <ul class="ps-list--link">
          <li>
              
                  <a>Sobre Nosotros</a>
              
          </li>
          <li>
              
                  <a>Afiliate</a>
              
          </li>
          <li>
              
                  <a>Carrera</a>
              
          </li>
          <li>
              
                  <a>Contactanos</a>
              
          </li>
      </ul>
  </aside>
  <aside class="widget widget_footer">
      <h4 class="widget-title">Negocios</h4>
      <ul class="ps-list--link">
          <li>
              
                  <a>Our Press</a>
              
          </li>
          <li>
              
                  <a>Checkout</a>
              
          </li>
          <li>
              
                  <a>My account</a>
              
          </li>
          <li>
              
                  <a>Shop</a>
              
          </li>
      </ul>
  </aside>
</div>
