<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="backToHome()">
        <ion-icon name="chevron-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ve-logo></ve-logo>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="saving?false:true">
  
  <div class="loading-view" *ngIf="saving">
    <ion-progress-bar *ngIf="saving" type="indeterminate"></ion-progress-bar>
  </div>

  <app-product-form></app-product-form>

</ion-content> -->
